.cloud
{
    display: inline-block;
    height: 1.5em;
    background: #f6f3ee;
    border-radius: 20px 20px 0 0;
    padding: .25em 2em .25em 2em;
    margin-top: 3em;
    position: relative;
    right: -1em;
}

.cloud:before
{
    content: '';
    width: 12em;
    height: 5em;

    background:
        -webkit-radial-gradient(50% 50%, circle cover, #f6f3ee 50%, transparent 50%) 0 180%,
        -webkit-radial-gradient(50% 50%, circle cover, #f6f3ee 70%, transparent 70%) 33% -110%,
        -webkit-radial-gradient(50% 50%, circle cover, #f6f3ee 50%, transparent 50%) 85% -100%;
    background-size:
        4em 4em,
        6em 6em,
        5em 5.5em;
    background-repeat:
        repeat-x,
        no-repeat,
        no-repeat;

    position: absolute;
    bottom: 0px;
    right: 1em;
    z-index: -1;
}

.cloud .navigation .link
{
    color: #221100;

    text-decoration: none;
}
