/*
 * Source: http://www.joepettersson.com/demo/jquery-github-widget/
 */

.github
{
    margin-top: 1em;
}

@media screen and (max-width: 768px) {
    .github
    {
        display: none;
    }
}

.github_not-ready
{
    display: none;
}

.github__body {
    font-size: .8em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.github__repo
{
    margin: 0;
    padding: 0;
    list-style: none;
}
