.page__body
{
    min-height: 100%;
    margin: 0;
    padding: 0;

    font: 18px/1.5 'Noto Serif', Palatino Linotype, Palatino, serif;

    background:
        -webkit-radial-gradient(rgba(246,243,238, .7) 10px, transparent 10px),
        -webkit-radial-gradient(rgba(246,243,238, .8) 10px, transparent 10px) 10px 10px,
        -webkit-radial-gradient(rgba(246,243,238, .7) 0px, transparent 20px);
    background:
        radial-gradient(rgba(246,243,238, .7) 10px, transparent 10px),
        radial-gradient(rgba(246,243,238, .8) 10px, transparent 10px) 10px 10px,
        radial-gradient(rgba(246,243,238, .7) 0px, transparent 20px);
    background-color: #DDDBD7;
    background-size: 20px 20px;
}

/*.page__body-i
{
    background: #f9f6f1;

    padding: 1em;
}*/
