.page__body
{
    min-height: 100%;
    margin: 0;
    padding: 0;

    font: 18px/1.5 'Noto Serif', Palatino Linotype, Palatino, serif;

    background:
        -webkit-linear-gradient(-90deg, #006dd5 0, #009bee 500px);

    background-color: #009bee;

    text-align: center;
}

/*.page__body-i
{
    background: #f9f6f1;

    padding: 1em;
}*/
