{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true
  },
  "parser": "babel-eslint",
  "ignorePatterns": ["public", ".cache", "node_modules"],
  "rules": {
    "strict": 0,
    "no-console": 1
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:markdown/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
