/* Icons by Victor Gozalez http://www.iconarchive.com/show/so-smooth-social-icons-by-minisoft.es.html */
.social-ico
    padding-top: 2em;

    &__ico
        width: 44px;
        height: 44px;
        display: block;
        margin: .5em 0 0 auto;
        border-radius: 50%;
        background-position: 50% 50%;

        &_type

            &_rss
                background-image: url(social-ico__rss.png);

            &_github
                background-image: url(social-ico__github.png);

            &_twitter
                background-image: url(social-ico__twitter.png);

            &_facebook
                background-image: url(social-ico__facebook.png);

            &_linkedin
                background-image: url(social-ico__linkedin.png);

    &__text
        float: left;
        line-height: 1.25em;
        font-size: .8em;
        padding-top: .3em;

    &__rss-text
        color: #DF620E;
