.header
{
    width: 900px;

    margin: 2em auto 0 auto;

    text-align: right;
}

.header__logo
{
    font-family: SorbonneNormal1470;
    font-weight: normal;
    font-style: normal;

    font-size: 3em;

    color: #fff;

    float: left;
    margin: 0 0 0 2em;
}
