<ul class="menu-vert">
    {% if title %}
    <h3 class="menu-vert__title box__title">{{ title }}</h3>
    {% endif %}
    {% for n in site.navigation %}
    <li class="b-menu-vert__item">
    {% if n.key == 'about' %}
        {% capture url %}/{{lang}}/{% endcapture %}
        {% if lang == 'en' %}
            {% assign url = '/' %}
        {% endif %}
    {% else %}
        {% capture url %}/{{lang}}/{{ n.key }}/{% endcapture %}
    {% endif %}
    <a href="{{ url }}" class="link">
            {{ n.name | map: lang }}
        </a>
    </li>
    {% endfor %}
</ul>
