<div class="b-menu-vert">
<ul class="b-menu-vert__layout">
    {% if title %}
    <h3 class="b-menu-vert__title box__title">{{ title }}</h3>
    {% endif %}
    {% for n in site.navigation %}
    <li class="b-menu-vert__layout-unit">
    <div class="b-menu-vert__item">
    {% if n.key == 'about' %}
        {% capture url %}/{{lang}}/{% endcapture %}
        {% if lang == 'en' %}
            {% assign url = '/' %}
        {% endif %}
    {% else %}
        {% capture url %}/{{lang}}/{{ n.key }}/{% endcapture %}
    {% endif %}
    <a href="{{ url }}" class="b-link">
            {{ n.name | map: lang }}
        </a>
    </div>
    </li>
    {% endfor %}
</ul>
</div>
