<ul class="menu-vert">
    {% if title %}
    <h3 class="menu-vert__title box__title">{{ title }}</h3>
    {% endif %}
    {% for n in site.navigation %}
    {% capture text %}{{ n.name | map: lang }}{% endcapture %}
    {% if text != '' %}
    <li class="menu-vert__item">
    {% if n.key == 'about' %}
        {% capture url %}/{{lang}}/{% endcapture %}
        {% if lang == 'en' %}
            {% assign url = '/' %}
        {% endif %}
    {% else %}
        {% capture url %}{% if n.url %}{{ n.url }}{% else %}/{{lang}}/{{ n.key }}/{% endif %}{% endcapture %}
    {% endif %}
    <a href="{{ url }}" class="link">{{ text }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
