/*
Sidebar

markup:
<nav class="sidebar">
  <sg-insert>3.2</sg-insert>
  <sg-insert>3.1</sg-insert>
</nav>

Styleguide 3.4
*/
.sidebar
{
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    width: 22.5%;
    padding-left: 2em;
    padding-left: 3%;
}

@media screen and (max-width: 768px) {
    .sidebar
    {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        width: 100%;
        margin-bottom: 1em;
        font-size: 1.25em;
        text-align: center;
        display: block;
    }

    .sidebar .menu-vert__title
    {
        display: none;
    }
    .sidebar .menu-vert__item
    {
        display: inline-block;
    }
    .sidebar .menu-vert__item:after
    {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background: rgba(0,0,0, 0.2);
        border-radius: 50%;
        margin: 0 1em;
    }

    .sidebar .menu-vert__item:last-child::after
    {
        display: none;
    }
}

.sidebar:before {
  content: '';
  width: 16em;
  display: block;
  height: 0;
}
