.bookmark
{
    float: left;
    -webkit-transform: rotate(-90deg) translateX(-100%);
    -moz-transform: rotate(-90deg) translateX(-100%);
    -ms-transform: rotate(-90deg) translateX(-100%);
    -o-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);

    writing-mode: tb-rl;

    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    background: #195372;
    color: #fff;

    border-radius: 1em 0 0 1em;
}

.bookmark .menu-horiz__item
{
    margin: .5em 1em;
}

.bookmark .menu-horiz__item:last-child
{
    margin-left: 1.5em;
}
.bookmark .menu-horiz__item:first-child
{
    margin-right: 1.5em;
}

.bookmark .link
{
    color: #fff;
    text-decoration: none;
}
