.prompting
{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 5.5%;
    display: block;
    padding-right: 2em;
    padding-right: 3%;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .prompting
    {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
        width: 100%;
        text-align: left;
    }
}

.prompting:before
{
    content: '';
    width: 4em;
    display: block;
    height: 0;
}
