/*

Comments

markup:
<div class="comments">
  <div class="comments__box box__body">
    <sg-insert>3.2.1</sg-insert>
  </div>
  <div class="comments__body box__island">
    Disqus comments
  </div>
</div>

Styleguide 3.2

*/

.comments
{
    margin-top: 2em;
}

/*
Comments' header

markup:
<h4 class="comments__header">
  Comments
</h4>

Styleguide 3.2.1
*/

.comments__header
{
    margin: 0;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
