/*
 * Source: http://www.joepettersson.com/demo/jquery-github-widget/
 */

.github
{
    margin-top: 1em;
}

.github__body {
    font-size: .8em;
}

#ghw-header
{
    margin: 1em 0 .5em;
}

#ghw-repos
{
}

/*Utility styles*/
.ghw-clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
html[xmlns] .ghw-clear { display: block;}
* html .ghw-clear { height: 1%;}

#ghw-logo
{
	display: none;
}

#ghw-user
{
    display: inline-block;
}

/*Header*/
#ghw-user b,
#ghw-user img {
	display: block;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    width: 43px;
    height: 43px;
    border: #82B964 5px solid;
    background-size: 43px 43px;
}
.ghw-no-bottom-border {
	-webkit-border-bottom-right-radius: 0!important;
	-webkit-border-bottom-left-radius: 0!important;
	border-bottom-right-radius: 0!important;
	border-bottom-left-radius: 0!important;
}
#ghw-github-user-data {
    display: inline-block;
	margin: 0;
    margin-left: .5em;
	color: #9f9f9f;
    vertical-align: top;
}
#ghw-github #ghw-header #ghw-github-user-data h2 {
	margin: 0px;
	line-height: 12px;
}
#ghw-github #ghw-header #ghw-github-user-data h2 a {
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #444;
	text-shadow: 1px 1px 1px #fff;
}
#ghw-github #ghw-header #ghw-github-user-data a:hover {
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
}
#ghw-github #ghw-header #ghw-github-user-data #ghw-current-followers, #ghw-github #ghw-header #ghw-github-user-data #ghw-header-total-repos {
	color: #686868!important;
	text-decoration: none!important;
	font-size: 11px!important;
}
#ghw-github #ghw-repos #ghw-github-loader {
	width: 100%;
	height: 200px;
	background: url("https://a248.e.akamai.net/assets.github.com/images/spinners/octocat-spinner-32.gif") center no-repeat;
}
#ghw-github #ghw-repos ul {
	display: none;
	padding: 0px;
	margin: 0px;
}
#ghw-github #ghw-repos li {
	list-style: none;
	border-bottom: 1px solid #e3e3e3;
	padding: 13px;
}
#ghw-github #ghw-repos li p {
	margin: 0px;
	padding: 0px;
}
#ghw-github #ghw-repos li .ghw-left {
	float: left;
	width: 70%:
}
#ghw-github #ghw-repos li .ghw-right {
	float: right;
	width: 30%;
	opacity: 0.3;
	-moz-opacity: 0.3;
	filter:alpha(opacity=3);
}
#ghw-github #ghw-repos li.ghw-double .ghw-right {
	margin-top: 5px;
}
#ghw-github #ghw-repos li .ghw-right span {
	display: inline-block;
	padding: 3px 7px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	font-size: 11px;
	margin-left: 3px;
	-webkit-border-radius: 2px;
    border-radius: 2px;
    float: right;
    position: relative;
}
#ghw-github .ghw-github-tooltip-content {
	position: absolute;
	top: 23px;
	background: rgba(0,0,0,0.9);
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border: 1px solid #000;
	padding: 7px 10px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	right: 0px;
	z-index: 250;
	min-width: 150px;
	text-align: center;
}
#ghw-github #ghw-repos li .ghw-right .ghw-forks {
	background: #7e943a;
}
#ghw-github #ghw-repos li .ghw-right .ghw-watchers {
	background: #357292;
}
#ghw-github #ghw-repos li .ghw-right .ghw-issues {
	background: #a53131;
}

#ghw-github #ghw-repos li .ghw-meta-data {
	font-size: 11px;
	color: #999;
}
#ghw-github #ghw-repos .ghw-fork {
	padding-left: 18px;
	background-position: 0px -35px;
}
#ghw-github #ghw-repos li {
	position: relative;
}
#ghw-github #ghw-repos li:last-child {
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box; 
	background-clip: padding-box;
}
#ghw-github #ghw-repos li .ghw-title a {
	color: #444;
	text-decoration: none;
}
#ghw-github #ghw-repos li .ghw-title a .ghw-github-tooltip-content {
	left: 5px;
	top: 6px;
	font-size: 11px;
	text-align: left;
	width: 72%;
	line-height: 120%;
	color: #999;
}
#ghw-github #ghw-repos li .ghw-title a .ghw-github-tooltip-content p {
	font-size: 13px;
	margin-bottom: 10px;
	color: #fff;
}
#ghw-github #ghw-repos li .ghw-title a:hover{
	text-decoration: underline;
}
#ghw-github #ghw-repos li:last-child {
	border-bottom: 0px;
}
