.ribbon
{
        padding: 0;
        margin-top: .6em;
        left: -.5em;
        width: 600px;
        position:relative;
        color: #ffffff;
        font: 24px 'Patua One', sans-serif;
        text-align: center;
        letter-spacing:0.1em;
        text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
        box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
                    inset 0px 0px 20px rgba(0,0,0,0.1),
                    0px 1px 1px rgba(0,0,0,0.4);
         /*background-image:
            -webkit-linear-gradient(top,#990041, #CC1965);*/
background-color:#CC1965;
background:
-webkit-linear-gradient(10deg,transparent 0%, rgba(178, 0, 75, .1) 25%, rgba(178, 0, 75, .3) 75%, transparent 75%, transparent 100%),
-webkit-linear-gradient(80deg,rgba(178, 0, 75, .15), rgba(178, 0, 75, .1) 50%, transparent 100%),
-webkit-linear-gradient(-25deg,transparent 0%, rgba(178, 0, 75, .2) 50%, transparent 100%),
-webkit-linear-gradient(10deg,rgba(178, 0, 75, .2), rgba(178, 0, 75, .1) 50%, transparent 100%) 10px 5px,
-webkit-linear-gradient(top,#990041, #CC1965);

background-size:
    3px 2px,
    18px 12px,
    130px 70px,
    26px 11px,
    100%;
      display: inline-block;
}
.ribbon:before, .ribbon:after {
        content: "";
        width:.2em;
        bottom:-.5em;
        position:absolute;
        display:block;
        border: .9em solid #990041;
        box-shadow:0px 1px 0px rgba(0,0,0,0.4);
        z-index:-2;
    }
    
.ribbon:before {
        left:-1.35em;
        border-right-width: .75em;
        border-left-color:transparent;
    }
    
.ribbon:after {
        right:-1.35em;
        border-left-width: .75em;
        border-right-color:transparent;
    }

.ribbon .link
{
    color: #fafaed;
    text-decoration: none;
}
.ribbon__i
{
        border-style: dashed;
        border-color: rgba(204, 51, 115, .6);
        border-width: 1px 1px 1px 0;
        margin: 5px 4px 4px;
}
.ribbon__i:before, .ribbon__i:after {
        content:"";
        bottom:-.5em;
        position:absolute;
        display:block;
        border-style:solid;
        border-color: #7F0036 transparent transparent transparent;
        z-index:-1;
    }
    
.ribbon__i:before {
      left: 0;
      border-width: .5em 0 0 .5em;
    }
    
.ribbon__i:after {
      right: 0;
      border-width: .5em .5em 0 0;
    }
