.header
{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 1200px;
    margin: 2em auto 3em;
    text-align: left;
    padding: 0;

    display: table;
}

.header__left
{
    padding: 0;
    margin: 0;
    width: auto;
    display: table-cell;
    text-align: right;
    width: 778px;
}
.header__center
{
    padding: 0;
    margin: 0;
    display: table-cell;
    width: 200px;
}
.header__right
{
    width: 325px;
    padding-left: 20px;
    display: table-cell;
}

.header__item
{
    border-radius: 50%;
    margin-bottom: 30px;
    margin-right: 3px;
    display: inline-block;
}
