/*
Candies

markup:
<div class="candies i-bem" data-bem='{ "candies" : { "size" : { "max" : 28, "min" : 12 }, "reverse" : true } }'>
</div>

Styleguide 5.1
*/

.style__item___Er6CH
{
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
}

/*
Link

markup:
<a class="link" href="http://google.com">Link</a>

Styleguide 1.3
*/

.style__link___1ZFL2
{
    color: #3B8DBD;
}
/*
 * Source: http://www.joepettersson.com/demo/jquery-github-widget/
 */

/*
Github

markup:
<div class="github i-bem box github_not-ready"
    data-bem='{ "github" : { "user" : "varya" } }'>
    <div class="github__header box__title">
      Last updated repos
    </div>
    <ul class="github__body"></ul>
</div>

Styleguide 4.3
*/

.style__github___ewe7q
{
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
    .style__github___ewe7q
    {
        display: none;
    }
}

.style__header___hm_lo
{
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 .5em;
    padding: 0;
    color: #666;
}

.style__body___1gSAU {
    font-size: .8em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.style__repo___2nB2i
{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*

Logo

markup:
<logo class="logo">···<b class="var">var</b>·<b class="ya">ya</b>;<b class="cursor"></b></logo>

Styleguide 1.1

*/
.style__logo___2yXgh
{
    color: #C9C9C9;
    margin: 0;
    margin-right: -10px;
    font: 32px/1 Monaco;
    text-align: center;
    float: right;
}

@media screen and (max-width: 330px) {
    .style__logo___2yXgh {
        float: none;
    }
}

.style__var___11qBW
{
    color: #66C9EE;
}

.style__ya___8D8Xm
{
    color: #82B964;
}

@-webkit-keyframes style__twinkly___Em8eL {
    0%   { background: #D24D33; }
    100% { background: lightgrey; }
}
@-moz-keyframes style__twinkly___Em8eL {
    0%   { background: #D24D33; }
    100% { background: lightgrey; }
}

.style__cursor___2aaLd
{
    width: 3px;
    height: 45px;
    margin-bottom: -10px;
    display: inline-block;
    -webkit-animation: style__twinkly___Em8eL .5s alternate infinite;
    -moz-animation: style__twinkly___Em8eL .5s alternate infinite;
}
/*
Header

markup:
<header class="header">
  <div class="left candies i-bem"
      data-bem='{ "candies" : { "size" : { "max" : 28, "min" : 12 }, "reverse" : true } }'></div>
  <div class="center">
      <logo class="logo">···<b class="var">var</b>·<b class="ya">ya</b>;<b class="cursor"></b></logo>
  </div>
  <div class="right candies i-bem"
      data-bem='{ "candies" : { "size" : { "max" : 28, "min" : 12 } } }'></div>
</header>

Styleguide 2.1
*/

.style__header___7cFNF
{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 1200px;
    margin: 2em auto 3em;
    text-align: left;
    padding: 0;
    display: table;
}

@media screen and (max-width: 768px) {
    .style__header___7cFNF {
        width: 720px;
    }
}

@media screen and (max-width: 580px) {
    .style__header___7cFNF {
        width: 580px;
    }
}

@media screen and (max-width: 330px) {
    .style__header___7cFNF {
        width: 330px;
        text-align: center;
    }
}

.style__left___1nLlV
{
    padding: 0;
    margin: 0;
    width: auto;
    display: table-cell;
    text-align: right;
    width: 778px;
    line-height: 4em;
}

@media screen and (max-width: 768px) {
    .style__left___1nLlV {
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .style__left___1nLlV {
        width: 360px;
    }
}

@media screen and (max-width: 330px) {
    .style__left___1nLlV {
        display: none;
    }
}

.style__center___265v6
{
    padding: 0;
    margin: 0;
    display: table-cell;
    width: 201px;
}

@media screen and (max-width: 580px) {
    .style__center___265v6 {
        padding-right: 10px;
    }
}

@media screen and (max-width: 330px) {
    .style__center___265v6 {
        width: 100%;
    }
}

.style__right___1RRr2
{
    padding: 0;
    margin: 0;
    width: 325px;
    padding-left: 20px;
    display: table-cell;
    line-height: 4em;
}

@media screen and (max-width: 768px) {
    .style__right___1RRr2 {
        display: none;
    }
}

@media screen and (max-width: 330px) {
    .style__right___1RRr2 {
        display: none;
    }
}

.style__item___3wY5_
{
    border-radius: 50%;
    margin-bottom: 30px;
    margin-right: 3px;
    display: inline-block;
}
.style__menu___-uZzl,
.style__item___2LuN-
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.style__title___3mAfQ
{
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 .5em;
    padding: 0;
    color: #666;
}
/*
Sidebar

markup:
<nav class="sidebar">
  <sg-insert>4.2</sg-insert>
  <sg-insert>4.3</sg-insert>
</nav>

Styleguide 4.1
*/

.style__sidebar___2nkwz
{
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    width: 22.5%;
    padding-left: 2em;
    padding-left: 3%;
}

@media screen and (max-width: 768px) {
    .style__sidebar___2nkwz
    {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        width: 100%;
        margin-bottom: 1em;
        font-size: 1.25em;
        text-align: center;
        display: block;
    }

    .style__sidebar___2nkwz .style__menu-vert__title___1jqeU
    {
        display: none;
    }
    .style__sidebar___2nkwz .style__menu-vert__item___2K9Ms
    {
        display: inline-block;
    }
    .style__sidebar___2nkwz .style__menu-vert__item___2K9Ms:after
    {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background: rgba(0,0,0, 0.2);
        border-radius: 50%;
        margin: 0 1em;
    }

    .style__sidebar___2nkwz .style__menu-vert__item___2K9Ms:last-child::after
    {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .style__sidebar___2nkwz {
        font-size: 1em;
    }
}

@media screen and (max-width: 330px) {
    .style__sidebar___2nkwz
    {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        width: 100%;
        margin-bottom: 1em;
        font-size: 1em;
        text-align: center;
        display: block;
    }
}

.style__sidebar___2nkwz:before {
  content: '';
  width: 16em;
  display: block;
  height: 0;
}
/*
Prompting

markup:
<aside class="prompting">
  <sg-insert>1.5</sg-insert>
</aside>

Styleguide 4.4
*/

.style__prompt___1WAf7
{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 5.5%;
    display: block;
    padding-right: 2em;
    padding-right: 3%;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .style__prompt___1WAf7
    {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
        width: 100%;
        text-align: center;
        display: block;
    }
}

.style__prompt___1WAf7:before
{
    content: '';
    width: 4em;
    display: block;
    height: 0;
}


/* Icons by Victor Gozalez http://www.iconarchive.com/show/so-smooth-social-icons-by-minisoft.es.html */

/*

Set of social icons

markup:
<ul class="social-ico menu-vert">
  <li class="menu-vert__item">
    <ul class="social-ico__text menu-vert">
      <li class="menu-vert__item">
        <a class="link social-ico__rss-text" href="/en/feed.xml" title="New on Varya.me in English">en</a>
      </li>
      <li class="menu-vert__item">
        <a class="link social-ico__rss-text" href="/ru/feed.xml" title="Новые записи на Varya.me">ru</a>
      </li>
    </ul>
    <a class="link social-ico__ico social-ico__ico_type_rss" href="/feed.xml" title="New on Varya.me"></a>
  </li>
  <li class="menu-vert__item">
  <a class="link social-ico__ico social-ico__ico_type_twitter"
      href="#"
      title="My twitter"
      target="_blank"></a>
  </li>
</ul>

Styleguide 1.5

*/
.style__socialIco___14rtL
{
    padding-top: 2em;

    margin: 0;
    padding: 0;

    list-style: none;
}

@media screen and (max-width: 768px) {
    .style__socialIco___14rtL
    {
        padding-top: 1em;
    }

    .style__item___24Oaa
    {
        display:inline-block;
    }
}

/*
Social icon

.social-ico__ico_type_rss         - RSS
.social-ico__ico_type_twitter     - Twitter
.social-ico__ico_type_github      - Github
.social-ico__ico_type_facebook    - Facebook
.social-ico__ico_type_linkedin    - LinkedIn

markup:
<a class="link social-ico__ico {$modifiers}" href="#" title="Icon title"></a>

Styleguide 1.5.1
*/

.style__feeds___lx7IA
{
    margin: 0;
    padding: 0;

    list-style: none;

    float: left;
    line-height: 1.25em;
    font-size: .8em;
    padding-top: .3em;
}

.style__ico___1PWaR
{
    width: 44px;
    height: 44px;
    display: block;
    margin: .5em 0 0 auto;
    border-radius: 50%;
    background-position: 50% 50%;
}

@media screen and (max-width: 768px) {
    .style__ico___1PWaR
    {
        margin: 0;
        margin-right: 0.5em;
    }
}

.style__rss___2lUOQ
{
    background-image: url(/assets/b28364278d8cb236b80b592a23f323f6.png);
}

@media screen and (max-width: 768px) {
    .style__rss___2lUOQ
    {
        margin-right: 2em;
    }
}

.style__github___2GmrH
{
    background-image: url(/assets/b0358ffae0b78e2f0b05b2352dd3eca5.png);
}

.style__twitter___3GPQl
{
    background-image: url(/assets/56c42ae031d32e8fed8285d9f6d9630e.png);
}

.style__facebook___2SOVV
{
    background-image: url(/assets/889e5b269b4ed71a188ea4581a403bb3.png);
}

.style__linkedin___2NaTD
{
    background-image: url(/assets/f3ab632eaeb0d970678f8588b583d00d.png);
}

@media screen and (max-width: 768px) {
    .style__feed___2bVaQ
    {
        float: right;
        margin-right: 1em;
    }
    .style__feed___2bVaQ .style__item___24Oaa
    {
        display: list-item;
    }
}

.style__rssText___1S0Bk
{
    color: #DF620E;
}
/*
Language switcher

markup:
<ul class="languages">
  <li class="languages__lang">
    <a href="#">
      ru
    </a>
    en
  </li>
</ul>

Styleguide 1.4
*/

.style__switcher___2YMLp
{
    display: block;
    padding: 0;
    margin: .5em 0 0;
    list-style: none;
    float: right;
}
.style__lang___kggY_
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.style__layout___2Ynks
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 1200px;
    margin: 0 auto;
    text-align: left;
}

@media only screen and (max-width: 1024px) {
    .style__layout___2Ynks {
        width: 1000px;
    }
}

@media screen and (max-width: 768px) {
    .style__layout___2Ynks {
        width: 710px;
    }
}

@media screen and (max-width: 580px) {
    .style__layout___2Ynks {
        width: 100%;
    }
}

@media screen and (max-width: 330px) {
    .style__layout___2Ynks {
        width: 100%;
    }
}

.style__main___1PTuI
{
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    width: 66%;
    -moz-box-flex: 1;
}

@media screen and (max-width: 768px) {
    .style__main___1PTuI
    {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        width: 100%;
        display: block;
    }
}
/*
Footer

markup:
<div class="footer__outer">
  <footer class="footer">
    <div class="footer__left">
    </div>
    <div class="footer__center">
        Links
    </div>
    <div class="footer__right">
    </div>
  </footer>
</div>

Styleguide 2.2

*/

.style__outer___1U8mi
{
    background: #999;
}

.style__footer___2MbLi
{
    width: 1200px;
    margin: 2em auto 0;
    padding: 1.5em 0;
    text-align: left;
    font-size: .8em;
    color: white;
    font-family: Monaco;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

@media screen and (max-width: 768px) {
    .style__footer___2MbLi {
        width: 710px;
        text-align: center;
    }
}

.style__left___2vtHv
{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 13%;
    padding-left: 5em;
    padding-left: 10%;
}

@media screen and (max-width: 768px) {
    .style__left___2vtHv
    {
        padding-left: 0;
        width: 100%;
        margin-bottom: 0.5em;
    }

    .style__footer__left___ec06A .style__menu-vert__item___4DkmZ
    {
        display: inline-block;
    }

    .style__footer__left___ec06A .style__menu-vert__item___4DkmZ:after
    {
        content: '\B7';
        margin: 0 0.5em;
    }

    .style__footer__left___ec06A .style__menu-vert__item___4DkmZ:last-child::after
    {
        display: none;
    }
}

.style__center___1Ffk8
{
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    width: 48.5%;
    padding-left: 2em;
    padding-left: 3%;
}

@media screen and (max-width: 768px) {
    .style__center___1Ffk8
    {
        padding-left: 0;
        width: 100%;
    }
}

.style__right___H7yIL
{
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    width: 22.5%;
    padding-left: 2em;
    padding-left: 3%;
}

@media screen and (max-width: 768px) {
    .style__right___H7yIL
    {
        display: none;
    }
}

.style__footer___2MbLi a
{
    color: #fff;
}
.style__page___3cJ2D
{
    font: 16px/1.5 'Noto Serif', Palatino Linotype, Palatino, serif;
}

.page
{
    margin: 0;
    text-align: center;

    background-color: #f6f6f6;

    font: 16px/1.5 'Noto Serif', Palatino Linotype, Palatino, serif;
    font-weight: 400;
}

/*
Article

markup:
<div class="article" role="main">
  <div class="article__body box__body">
    <sg-insert>3.1.1</sg-insert>
  </div>
  <div class="article__text box__island">
    <sg-insert>3.1.2</sg-insert>
    <p>
      Article text
    </p>
  </div>
</div>

Styleguide 3.1
*/

/*
Article header

markup:
<h1 class="article__header">
  Article title
</h1>

Styleguide 3.1.1
*/

.style__article___2FW-a
{
    font: 16px/1.5 'Noto Serif', Palatino Linotype, Palatino, serif;
    font-weight: 400;
}

.style__body___XvMI0 {
    padding: 0 1em;
}

.style__header___ADINy
{
    padding: 0;
    margin: 0;
    color: #D24D33;
    font-size: 1.5em;
    font-weight: 400;
}

.style__link___2T5QT,
.style__link___2T5QT:link,
.style__link___2T5QT:hover,
.style__link___2T5QT:visited
{
    color: #D24D33;
}

/*
Article details

markup:
<span class="article__details author vcard">
    Published on
    11th February 2015
</span>

Styleguide 3.1.2
*/

.style__details___ZaSIa
{
    font-size: .8em;
    color: #999;
}

.style__text___1aEP8
{
    padding: 0 1em;
    background-color: #f9f9f9;

    padding: 1em;
    margin-top: .25em;

    border: rgba(0,0,0, .075) 1px solid;
}

.style__text___1aEP8 code
{
    white-space: nowrap;
}

.style__text___1aEP8 pre code
{
    white-space: pre;
}

.style__article__image___1EEu1
{
    display: block;
    border: rgba(0,0,0, 0.1) 1px solid;
    margin: 1em auto;
}
/*
Share

markup:
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="share yashare-auto-init" data-yashareL10n="{{ lang }}"
    data-yashareQuickServices="twitter,facebook,gplusvkontakte" data-yashareTheme="counter"
></div>

Styleguide 1.6
*/
.style__share___2UNWm
{
    height: 26px;
    float: right;
}

.b-share-btn__wrap
{
    display: block;
}
/*

Comments

markup:
<div class="comments">
  <div class="comments__box box__body">
    <sg-insert>3.2.1</sg-insert>
  </div>
  <div class="comments__body box__island">
    Disqus comments
  </div>
</div>

Styleguide 3.2

*/

.style__comments___3emEu
{
    margin-top: 2em;
}

.style__body___2Pjpr
{
    padding: 0 1em;
}

.style__island___6Bc3W
{
    padding: 0 1em;
    background-color: #f9f9f9;

    padding: 1em;
    margin-top: .25em;

    border: rgba(0,0,0, .075) 1px solid;
}

@media screen and (max-width: 330px) {
    .style__island___6Bc3W {
        border-width: 1px 0 0;
    }
}

/*
Comments' header

markup:
<h4 class="comments__header">
  Comments
</h4>

Styleguide 3.2.1
*/

.style__header___8JJlc
{
    margin: 0;
    font-size: 1.5em;
}
/*
Related infromation

markup:
<div class="related">
  <div class="related__body box__body">
    <h4 class="related__header">
      Related info
    </h4>
  </div>
  <div class="related__text box__island">
    Related text and <sg-insert>1.3</sg-insert>
  </div>
</div>

Styleguide 3.3
*/

.style__related___3zKIm
{
    margin-top: 2em;
}

.style__body___2uz87
{
  padding: 0 1em;
}

.style__island___1W8YU
{
    padding: 0 1em;
    background-color: #f9f9f9;

    padding: 1em;
    margin-top: .25em;

    border: rgba(0,0,0, .075) 1px solid;
}

@media screen and (max-width: 330px) {
    .style__island___1W8YU {
        border-width: 1px 0 0;
    }
}

.style__header___1WzCe
{
    margin: 0;
    font-size: 1.5em;
}
