@-webkit-keyframes twinkly {
  0% {
    background: #D24D33;
  }

  100% {
    background: lightgrey;
  }
}

@-moz-keyframes twinkly {
  0% {
    background: #D24D33;
  }

  100% {
    background: lightgrey;
  }
}