/*
Language switcher

markup:
<ul class="languages">
  <li class="languages__lang">
    <a href="#">
      ru
    </a>
    en
  </li>
</ul>

Styleguide 1.4
*/

.languages
{
    display: block;
    padding: 0;
    margin: .5em 0 0;
    list-style: none;
    float: right;
}
.languages__lang
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.languages__kludge
{
    color: #666;
}
