.navigation
{
    width: 100%;
    margin: 0 auto;

    font-size: 1.2em;

    text-align: center;
}

.navigation .menu-horiz__item
{
    margin: 0 1em;
}

.navigation .menu-horiz__item:first-child
{
    margin-left: 0;
}

.navigation .menu-horiz__item:last-child
{
    margin-right: 0;
}
