/*
List of articles

markup:
<div class="article" role="main">
  <div class="article__body box__body">
    <sg-insert>3.1.1</sg-insert>
  </div>
  <sg-insert>3.4.1</sg-insert>
  <sg-insert>3.4.1</sg-insert>
  <sg-insert>3.4.1</sg-insert>
</div>

Styleguide 3.4
*/


/*
Articles-list's item

markup:
<div class="article__text box__island articles-list__item">
  <a href="#">Article name</a>
  —
  <em class="published">
    11th February 2015
  </em>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
    in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

Styleguide 3.4.1
*/

.articles-list__item
{
    margin-bottom: 1em;
}

.articles-list__item p
{
    margin-top: 0.15em;
}
