/* Icons by Victor Gozalez http://www.iconarchive.com/show/so-smooth-social-icons-by-minisoft.es.html */
.social-ico
{
    padding-top: 2em;
}

.social-ico__ico
{
    width: 44px;
    height: 44px;
    display: block;
    margin: .5em 0 0 auto;
    border-radius: 50%;
    background-position: 50% 50%;
}

.social-ico__ico_type_rss
{
    background-image: url('social-ico__rss.png');
}

.social-ico__ico_type_github
{
    background-image: url('social-ico__github.png');
}

.social-ico__ico_type_twitter
{
    background-image: url('social-ico__twitter.png');
}

.social-ico__ico_type_facebook
{
    background-image: url('social-ico__facebook.png');
}

.social-ico__ico_type_linkedin
{
    background-image: url('social-ico__linkedin.png');
}

.social-ico__text
{
    float: left;
    line-height: 1.25em;
    font-size: .8em;
    padding-top: .3em;
}

.social-ico__rss-text
{
    color: #DF620E;
}
