---
layout: default
page_type: index
---
{% capture setup %}{% include setup.md %}{% endcapture %}
<div class="article" role="main">

    {% if page.header %}
    <div class="article__body box__body">
        <h1 class="article__header">{{ page.header }}</h1>
    </div>
    {% endif %}

    <div class="article__text box__island">
    {% capture link_handles_input %}{{ content }}{% endcapture %}{% include link_handles.html %}{{ link_handles_result }}
    </div>

    <div class="article__body box__body">
        <h2 class="article__header">{{ site.loc.last_in_blog_title | map: lang }}</h2>
    </div>

    <div class="article__text box__island recent-posts i-bem" data-bem='{ "recent-posts": {} }'>

        <ul class="recent-posts__list">
        {% assign limit=10 %}
        {% for post in site.posts %}
            {% if post.categories contains lang and limit > 0 %}
                {% assign limit = limit - 1 %}
                <li class="recent-posts__item">
                    <span class="badge recent-posts__date">
                        <i class="date__day">{{ post.date | date: "%-d" }}</i>
                        <i class="date__month">{{ post.date | date: "%b" }}</i>
                        <i class="date__year">{{ post.date | date: "%Y" }}</i>
                    </span>
                    <span class="recent-posts__text-item">
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </span>
                </li>
            {% endif %}
        {% endfor %}
        </ul>

    </div>

</div>
