<!DOCTYPE html>{% capture setup %}{% include setup.md %}{% endcapture %}
<html class="page page_{{ lang }} page_{{ page.page_type }}{% if category != "" %} page_{{ category }}{% endif %}">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=edge"/>
    <!--<link rel="stylesheet" href="/s/{{ page.page_type }}.min.css">-->
    <script src="/desktop.blocks/fonts/fonts.apply.js"></script>
    <link rel="stylesheet" href="/desktop.bundles/index/index.min.css"/>
    <link href="/feed.xml" rel="alternate" type="application/rss+xml" title="New on varya.me"/>
    <title>{{ page.title }}</title>
</head>
<body class="page page__body">
{{ content }}
{% include metrika.html %}
<script src="http://yandex.st/jquery/1.7.2/jquery.min.js"></script>
<script src="/desktop.bundles/index/index.min.js"></script>
</body>
</html>
