---
layout: default
page_type: post
---
{% capture setup %}{% include setup.md %}{% endcapture %}
<div class="article" role="main">

    {% if page.title %}
    <div class="article__body box__body">
        <h1 class="article__header">{{ page.title }}</h1>
    </div>
    {% endif %}

    <div class="article__text box__island">
    {% if page.invisible %}<p style="color: red;"><strong>This page is a draft, it's not published yet, so please don't share links to it to anyone, ok?</strong></p>{% endif %}
    {% capture link_handles_input %}{{ content }}{% endcapture %}{% include link_handles.html %}
    {% capture demo_handles_input %}{{ link_handles_result }}{% endcapture %}{% include demo_handles.html %}
        <script type="text/javascript" src="//yandex.st/share/share.js"
        charset="utf-8"></script>
        <div class="share yashare-auto-init" data-yashareL10n="{{ lang }}"
            data-yashareQuickServices="twitter,facebook,gplus{% if lang == 'ru' %},vkontakte{% endif %}" data-yashareTheme="counter"
        ></div>
        {% if page.date %}<span class="article__details author vcard">
            {{ site.loc | map: "published" | map: lang }} {% assign published_time = page.date %}{% include published_format.html %}
            {% assign list_categories = page.categories %}{% include list_categories.html %}
        </span>{% endif %}
        {{ demo_handles_result }}
    </div>

    <div class="comments">
        <div class="comments__box box__body">
            <h4 class="comments__header">Comments</h4>
        </div>
        <div class="comments__body box__island" id="disqus_thread">
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'varya'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>

    <div class="related">
        <div class="related__body box__body">
            <h4 class="related__header">By the way</h4>
        </div>
        <div class="related__text box__island">
        {% capture feeback_title %}{{ site.loc | map: 'feedback_for' | map: lang }} {{ site.loc | map: 'laquo' | map: lang }}{{ page.title }}{{ site.loc | map: 'raquo' | map: lang }}{% endcapture %}
        {{ site.loc | map: "feedback_text1" | map: lang }} <a class="link" href="https://github.com/toivonen/toivonen.github.com/issues/new?title={{ feeback_title | cgi_escape }}">{{ site.loc | map: "feedback_issue" | map: lang }}</a><!-- {{ site.loc | map: "feedback_text2" | map: lang }} <a class="link" href="http://edit.toivonen.github.com/#{{ site.github_repo }}/edit/master/{{ get_filename_output }}">{{ site.loc | map: "feedback_edit" | map: lang }}</a> {{ site.loc | map: "feedback_text3" | map: lang }} prose.io-->.
    </aside>
</article>
        </div>
    </div>

</div>


