/* 12 column grid. 5.5% colum + 3% margin */

.grid
{
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    height: 100%;
    background-image: -webkit-linear-gradient(0deg, rgba(255,0,0, .15) 0%, rgba(255,0,0, .15) 64.7%, transparent 64.7%);
    background-size: 8.6459% 100%;
}
